.wm-window {
    /* border: 1px solid #0094D2; */
	border: 1px solid #082510;
}

.wm-window-title {
    user-select: none;
    -webkit-app-region: drag;
    height: 34px;
    /* background: #00A2E8;
    border-bottom: 1px solid #0094D2; */
	background: #054227;
    border-bottom: 1px solid #082510;
}

#window_title {
    font-size: 16px;
    line-height: 32px;
    position: relative;
    left: 5px;
    color: #fff;
	font-family: Calibri,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: bold;
}

#window_icon {
	-webkit-app-region: no-drag;
    position: relative;
    left: 4px;
    top: -1px;
}